#! /usr/bin/make -f

# DEB options
DEB_BUILD_OPTIONS=nocheck
DEB_VERSION_UPSTREAM=2.36.tkg.eac

# Build tree vars
curpass = glibc
build-tree := build-tree
debian-tmp = debian/tmp
debian-tmp-i386 = debian/tmp-i386
debian-tmp-x32 = debian/tmp-x32
debian-tmp-amd64 = debian/tmp-amd64
stamp := $(CURDIR)/stamp-dir/
DUMMY := $(shell mkdir -p $(stamp))

# imported from tarball.mk
GLIBC_GIT = https://sourceware.org/git/glibc.git
GLIBC_BRANCH = release/$(DEB_VERSION_UPSTREAM)/master
GLIBC_TAG = glibc-$(DEB_VERSION_UPSTREAM)
GLIBC_CHECKOUT = glibc-checkout
GLIBC_DIR = glibc-$(DEB_VERSION_UPSTREAM)
DEB_ORIG = ../glibc_$(DEB_VERSION_UPSTREAM).orig.tar.xz
GIT_UPDATES_DIFF = debian/patches/git-updates.diff

# The minimum package version with which these packages are compatible.
shlib_dep_ver = $(DEB_VERSION_UPSTREAM)
shlib_dep = $(libc) (>= $(shlib_dep_ver))

DEB_BUILDDIR ?= $(build-tree)/$(DEB_HOST_ARCH)-$(curpass)
DEB_BUILDDIR_i386 ?= $(build-tree)/$(DEB_HOST_ARCH)-$(curpass)-i386
DEB_BUILDDIR_x32 ?= $(build-tree)/$(DEB_HOST_ARCH)-$(curpass)-x32
DEB_BUILDDIR_amd64 ?= $(build-tree)/$(DEB_HOST_ARCH)-$(curpass)-amd64
DEB_BUILDDIRLIBC ?= $(build-tree)/$(DEB_HOST_ARCH)-libc

GLIBC_SOURCES = $(filter-out debian $(shell basename $(stamp)) $(build-tree), $(wildcard *))

# Support multiple makes at once based on number of processors
ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
NJOBS := -j $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
endif

# use the package settings, not the settings from the environment
define unsetenv
  unexport $(1)
  $(1) =
endef
$(foreach v, CPPFLAGS CFLAGS CXXFLAGS LDFLAGS, $(if $(filter environment,$(origin $(v))),$(eval $(call unsetenv, $(v)))))

# Compiler Settings
CC     = $(DEB_HOST_GNU_TYPE)-$(BASE_CC)$(DEB_GCC_VERSION)
CXX    = $(DEB_HOST_GNU_TYPE)-$(BASE_CXX)$(DEB_GCC_VERSION)
MIG    = $(DEB_HOST_GNU_TYPE)-$(BASE_MIG)
BUILD_CC = $(DEB_BUILD_GNU_TYPE)-$(BASE_CC)
BUILD_CXX = $(DEB_BUILD_GNU_TYPE)-$(BASE_CXX)
BUILD_CFLAGS = -O2 -g -fdebug-prefix-map=$(CURDIR)=.
BUILD_MIG = $(DEB_BUILD_GNU_TYPE)-$(BASE_MIG)
HOST_CFLAGS = -pipe -O2 -g -fdebug-prefix-map=$(CURDIR)=. $(call xx,extra_cflags)
BASE_CC = gcc
BASE_CXX = g++
BASE_MIG = mig
DEB_GCC_VERSION ?= -12

RUN_TESTSUITE = yes
TIMEOUTFACTOR = 25

# export debhelper substitution variables
export $(build-tree)

# Default setup
GLIBC_PASSES ?= libc

rtld_so=$(shell awk 'BEGIN {FS="="} /^ld\.so-version/ {print $$2}' $(DEB_BUILDDIR)/soversions.mk)
libc_so=$(shell awk 'BEGIN {FS="="} /^libc\.so-version/ {print "libc.so"$$2}' $(DEB_BUILDDIR)/soversions.mk)

# Glibc configparms
prefix=/usr
bindir=$(prefix)/bin
datadir=$(prefix)/share
complocaledir=$(prefix)/lib/locale
sysconfdir=/etc
libexecdir=$(prefix)/lib
rootsbindir=/sbin
includedir=$(prefix)/include
docdir=$(prefix)/share/doc
mandir=$(prefix)/share/man
sbindir=$(prefix)/sbin
vardbdir=/var/lib/misc
rtlddir=/lib
slibdir=/lib/$(DEB_HOST_MULTIARCH)
libdir=/usr/lib/$(DEB_HOST_MULTIARCH)
mvec = no
with_headers = --with-headers=$(includedir) --disable-sanity-checks --enable-hacker-mode
extra_config_options = --with-default-link

# 
.PHONY: override_dh_auto_clean
.PHONY: override_dh_auto_configure
.PHONY: override_dh_auto_build

%:
	dh $@ 

override_dh_clean:
	dh_clean 
	rm -rf $(DEB_BUILDDIR)
	rm -rf $(DEB_BUILDDIR_i386) 
	rm -rf $(DEB_BUILDDIR_x32) 
	rm -rf $(DEB_BUILDDIR_amd64)
	rm -rf $(build-tree)/glibc-$(DEB_VERSION_UPSTREAM).tar.xz
	rm -rf $(debian-tmp)
	rm -rf $(debian-tmp-i386)
	rm -rf $(debian-tmp-x32)
	rm -rf $(debian-tmp-amd64)

override_dh_auto_clean:
	echo "dh_auto_clean is disabled"
override_dh_autoreconf:
	echo "dh_autoreconf is disabled"	
override_dh_auto_configure:
	test -d $(DEB_BUILDDIR) || mkdir -p $(DEB_BUILDDIR)
	#
	rm -f $(DEB_BUILDDIR)/configparms
	echo "BASH := /bin/bash"                  >> $(DEB_BUILDDIR)/configparms
	echo "KSH := /bin/bash"                   >> $(DEB_BUILDDIR)/configparms
	echo "SHELL := /bin/bash"                 >> $(DEB_BUILDDIR)/configparms
	echo "bindir = $(bindir)"                 >> $(DEB_BUILDDIR)/configparms
	echo "datadir = $(datadir)"               >> $(DEB_BUILDDIR)/configparms
	echo "complocaledir = $(complocaledir)"   >> $(DEB_BUILDDIR)/configparms
	echo "sysconfdir = $(sysconfdir)"         >> $(DEB_BUILDDIR)/configparms
	echo "libexecdir = $(libexecdir)"         >> $(DEB_BUILDDIR)/configparms
	echo "rootsbindir = $(rootsbindir)"       >> $(DEB_BUILDDIR)/configparms
	echo "includedir = $(includedir)" >> $(DEB_BUILDDIR)/configparms
	echo "docdir = $(docdir)"                 >> $(DEB_BUILDDIR)/configparms
	echo "mandir = $(mandir)"                 >> $(DEB_BUILDDIR)/configparms
	echo "sbindir = $(sbindir)"               >> $(DEB_BUILDDIR)/configparms
	echo "vardbdir = $(vardbdir)"             >> $(DEB_BUILDDIR)/configparms
	echo "rtlddir = $(rtlddir)"       >> $(DEB_BUILDDIR)/configparms
	# Generate glibc tarball in build-tree
	cp $(DEB_ORIG) $(build-tree)/glibc-$(DEB_VERSION_UPSTREAM).tar.xz
	# clone configrations
	cp -rf $(DEB_BUILDDIR) $(DEB_BUILDDIR_i386)
	cp -rf $(DEB_BUILDDIR) $(DEB_BUILDDIR_x32)
	cp -rf $(DEB_BUILDDIR) $(DEB_BUILDDIR_amd64)
override_dh_auto_build:
ifeq (amd64,$(DEB_HOST_ARCH))
	### libc6:$(DEB_HOST_ARCH)
	### Add configparms override
	echo "libdir = $(libdir)"         >> $(DEB_BUILDDIR)/configparms
	echo "slibdir = $(slibdir)"       >> $(DEB_BUILDDIR)/configparms
	echo "install_root = $(CURDIR)/$(debian-tmp)" >> $(DEB_BUILDDIR)/configparms
	echo "LIBGD = yes"                        >> $(DEB_BUILDDIR)/configparms
	#
	echo -n "Build started: " ; date --rfc-2822; \
	echo "---------------"; \
	cd $(DEB_BUILDDIR) && \
		CC="$(CC)" \
		CXX="$(CXX)" \
		MIG="$(MIG)" \
		BUILD_CC="$(BUILD_CC)" \
		BUILD_CXX="$(BUILD_CXX)" \
		CFLAGS="$(HOST_CFLAGS)" \
		ASFLAGS="$(HOST_CFLAGS)" \
		BUILD_CFLAGS="$(BUILD_CFLAGS)" \
		AUTOCONF=false \
		MAKEINFO=: \
		$(CURDIR)/configure \
		--prefix=/usr \
		--enable-add-ons=$(standard-add-ons)"$(add-ons)" \
		--without-selinux \
		--disable-crypt \
		--enable-stackguard-randomization \
		--enable-stack-protector=strong \
		--with-pkgversion="Debian GLIBC $(DEB_VERSION)" \
		--with-bugurl="http://www.debian.org/Bugs/" \
		--with-timeoutfactor="$(TIMEOUTFACTOR)" \
		$(if $(filter $(pt_chown),yes),--enable-pt_chown) \
		$(if $(filter $(threads),no),--disable-nscd) \
		$(if $(filter $(mvec),no),--disable-mathvec) \
		$(with_headers) $(extra_config_options)
	@echo Building $(curpass):amd64
	$(MAKE) -C $(DEB_BUILDDIR) $(NJOBS)
	echo "---------------"
	echo -n "Build ended: " ; date --rfc-2822
	cd ../../
	### libc6-i386:amd64
	### Add configparms override
	echo "libdir = /usr/lib32"         >> $(DEB_BUILDDIR_i386)/configparms
	echo "slibdir = /lib32"       >> $(DEB_BUILDDIR_i386)/configparms
	echo "LIBGD = no"                        >> $(DEB_BUILDDIR_i386)/configparms
	echo "build-programs=yes" >> $(DEB_BUILDDIR_i386)/configparms
	echo "install_root = $(CURDIR)/$(debian-tmp-i386)" >> $(DEB_BUILDDIR_i386)/configparms
	#
	echo -n "Build started: " ; date --rfc-2822; \
	echo "---------------"; \
	cd $(DEB_BUILDDIR_i386) && \
		CC="$(CC) -m32" \
		CXX="$(CXX) -m32" \
		MIG="$(MIG)" \
		BUILD_CC="$(BUILD_CC) -m32" \
		BUILD_CXX="$(BUILD_CXX) -m32" \
		CFLAGS="$(HOST_CFLAGS)  -march=i686" \
		ASFLAGS="$(HOST_CFLAGS)  -march=i686" \
		BUILD_CFLAGS="$(BUILD_CFLAGS)  -march=i686" \
		AUTOCONF=false \
		MAKEINFO=: \
		$(CURDIR)/configure \
		--build=i686-pc-linux-gnu \
		--prefix=/usr \
		--enable-add-ons=$(standard-add-ons)"$(add-ons)" \
		--without-selinux \
		--disable-crypt \
		--enable-stackguard-randomization \
		--enable-stack-protector=strong \
		--with-pkgversion="Debian GLIBC $(DEB_VERSION)" \
		--with-bugurl="http://www.debian.org/Bugs/" \
		--with-timeoutfactor="$(TIMEOUTFACTOR)" \
		$(if $(filter $(pt_chown),yes),--enable-pt_chown) \
		$(if $(filter $(threads),no),--disable-nscd) \
		$(if $(filter $(mvec),no),--disable-mathvec) \
		$(with_headers) $(extra_config_options)
	@echo Building $(curpass)-i386:amd64
	$(MAKE) cross-compiling=yes -C $(DEB_BUILDDIR_i386) $(NJOBS) install_root=$(CURDIR)/$(debian-tmp-i386)  install-bootstrap-headers=yes install-headers
	echo "---------------"
	echo -n "Build ended: " ; date --rfc-2822
	cd ../../
	echo -n "x32 build deprecated in ubuntu 22.10: not building" ; date --rfc-2822
#	### libc6-x32:amd64
#	### Add configparms override
#	echo "libdir = /usr/libx32"         >> $(DEB_BUILDDIR_x32)/configparms
#	echo "slibdir = /libx32"       >> $(DEB_BUILDDIR_x32)/configparms
#	echo "LIBGD = no"                        >> $(DEB_BUILDDIR_x32)/configparms
#	echo "build-programs=yes" >> $(DEB_BUILDDIR_x32)/configparms
#	echo "install_root = $(CURDIR)/$(debian-tmp-x32)" >> $(DEB_BUILDDIR_x32)/configparms
#	#
#	echo -n "Build started: " ; date --rfc-2822; \
#	echo "---------------"; \
#	cd $(DEB_BUILDDIR_x32) && \
#		CC="$(CC) -mx32" \
#		CXX="$(CXX) -mx32" \
#		MIG="$(MIG)" \
#		BUILD_CC="$(BUILD_CC) -mx32" \
#		BUILD_CXX="$(BUILD_CXX) -mx32" \
#		CFLAGS="$(HOST_CFLAGS)  -mx32" \
#		ASFLAGS="$(HOST_CFLAGS)  -mx32" \
#		BUILD_CFLAGS="$(BUILD_CFLAGS)  -mx32" \
#		AUTOCONF=false \
#		MAKEINFO=: \
#		$(CURDIR)/configure \
#		--build=x86_64-x32-linux \
#		--prefix=/usr \
#		--enable-add-ons=$(standard-add-ons)"$(add-ons)" \
#		--without-selinux \
#		--disable-crypt \
#		--enable-stackguard-randomization \
#		--enable-stack-protector=strong \
#		--with-pkgversion="Debian GLIBC $(DEB_VERSION)" \
#		--with-bugurl="http://www.debian.org/Bugs/" \
#		--with-timeoutfactor="$(TIMEOUTFACTOR)" \
#		$(if $(filter $(pt_chown),yes),--enable-pt_chown) \
#		$(if $(filter $(threads),no),--disable-nscd) \
#		$(if $(filter $(mvec),no),--disable-mathvec) \
#		$(with_headers) $(extra_config_options)
#	@echo Building $(curpass)-x32:amd64
#	$(MAKE) cross-compiling=yes -C $(DEB_BUILDDIR_x32) $(NJOBS) install_root=$(CURDIR)/$(debian-tmp-x32)  install-bootstrap-headers=yes install-headers
#	echo "---------------"
#	echo -n "Build ended: " ; date --rfc-2822
#	cd ../../
endif
override_dh_auto_install:
ifeq (amd64,$(DEB_HOST_ARCH))
	# libc6:$(DEB_HOST_ARCH)
	dh_auto_install --builddirectory=$(DEB_BUILDDIR)
	cp -r debian/local/usr_amd64/usr $(debian-tmp)/
	mkdir -p $(debian-tmp)/etc/ld.so.conf.d
	touch "$(debian-tmp)/etc/ld.so.conf.d/x86_64-linux-gnu.conf"
	printf "# Multiarch support\n/usr/local/lib/x86_64-linux-gnu\n/lib/x86_64-linux-gnu\n/usr/lib/x86_64-linux-gnu" | tee "$(debian-tmp)/etc/ld.so.conf.d/x86_64-linux-gnu.conf" > /dev/null
	mkdir -p "$(debian-tmp)/var/cache/ldconfig"
	mkdir -p "$(debian-tmp)/lib64"
	ln -sf /lib/x86_64-linux-gnu/ld-linux-x86-64.so.2 "$(debian-tmp)/lib64/ld-linux-x86-64.so.2" 
	#
	# libc6-i386:amd64
	dh_auto_install --builddirectory=$(DEB_BUILDDIR_i386)
	cp -r debian/local/usr_lib32/usr $(debian-tmp-i386)/
	rm -r $(debian-tmp-i386)/etc/ld.so.cache
	mkdir -p $(debian-tmp-i386)/etc/ld.so.conf.d
	touch "$(debian-tmp-i386)/etc/ld.so.conf.d/zz_i386-biarch-compat.conf"
	printf "# Legacy biarch compatibility support\n/lib32\n/usr/lib32" | tee "$(debian-tmp-i386)/etc/ld.so.conf.d/zz_i386-biarch-compat.conf" > /dev/null
	## libc6-x32:amd64
	#dh_auto_install --builddirectory=$(DEB_BUILDDIR_x32)
endif








